body{
    text-align: center;
    padding-top: 10%;
}

#timer{
    font-family: Oswald;
    font-size: 60px;
    position: relative;
}

button{
    font-family: Ubuntu;
    font-weight: 500;
    border-radius: 3mm;
    font-size: 1rem;
    transition-duration: 0.10;
    text-decoration: none;
    height: 2rem;
    width: 7rem;
    position: relative;
}
.btn{
    background-blend-mode: soft-light;
}

button:hover{
    cursor: pointer;
    font-weight: 1000;
}

button:focus{
    outline: none;
}
#bg1 {
    opacity: 0.2;
    position: absolute;
    height: 500px; 
    width: auto;
}

#myText {
    font-size: 4rem;
}